/*
 * Copyright 2014-present Open Networking Laboratory
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 ONOS GUI -- Masthead -- CSS file
 */

#mast {
    /*height: 36px;*/
    padding: 4px;
    padding-top: 5px;
    vertical-align: baseline;
}

html[data-platform='iPad'] #mast {
    padding-top: 16px;
}

.title .logo {  }

.light #mast {
    background-color: #bbb;
    box-shadow: 0 2px 8px #777;
}
.dark #mast {
    background-color: #444;
    box-shadow: 0 2px 8px #222;
}

#mast .nav-menu-button {
    width: 30px;
    height: 30px;
    margin-left: 8px;
    margin-bottom: 4px;
    cursor: pointer;
}
.light #mast .nav-menu-button:hover {
    background-color: #ddd;
}
.dark #mast .nav-menu-button:hover {
    background-color: #777;
}

#mast img.logo {
    /*height: 38px;*/
    padding-left: 8px;
    padding-right: 8px;
}

#mast img.logo:hover {
    /* need something better */
    /*background-color: #888;*/
}

#mast .title {
    font-size: 14pt;
    font-style: italic;
    vertical-align: 12px;
}

.light #mast .title {
    color: #369;
}
.dark #mast .title {
    color: #eee;
}

#mast-right {
    display: inline-block;
    float: right;
    position: relative;
    top: -4px;
    padding-right: 15px;
    line-height: 44px;
}

.light #mast-right a {
    color: #369;
}

.dark #mast-right a {
    color: #eee;
}

.light #mast nav  {
    color: #369;
}

.dark #mast nav  {
    color: #eee;
}

/*
    MAST HEAD DROPDOWN MENU
*/

#mast .dropdown-parent {
    position: relative;
}

#mast .dropdown-parent i.dropdown-icon {
    display: inline-block;
    height: 7px;
    width: 9px;
    margin-left: 10px;
    background: url('/onos/ui/data/img/dropdown-icon.png') no-repeat;
}

#mast .dropdown {
    position: absolute;
    top: 44px;
    right: 0;
    display: none;
    min-width: 100px;
    border-top: 1px solid #999;
    line-height: 16px;
    z-index: 1000;
}

#mast .dropdown a {
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 8px 16px 6px 12px;
}

#mast .dropdown-parent:hover .dropdown {
    display: block;
}

#mast .dropdown-parent:hover i.dropdown-icon {
    background-position-x: -14px
}

html[data-platform='iPad'] #mast .dropdown {
    top: 57px;
}

/* Theme styles for drop down menu */

.light #mast .dropdown {
    background-color: #bbb;
    box-shadow: 0 2px 8px #777;
}

.dark #mast .dropdown {
    background-color: #444;
    box-shadow: 0 2px 8px #111;
}

.light #mast .dropdown a {
    color: #369;
    border-bottom: solid #ccc 1px;
}

.dark #mast .dropdown a {
    color: #eee;
    border-bottom: solid #333 1px;
}

.light #mast .dropdown a:hover {
    background-color: #ddd;
}

.dark #mast .dropdown a:hover {
    background-color: #777;
}
