<!-- Masthead partial HTML -->
<img class="nav-menu-button" src="data/img/nav-menu.png"
     ng-click="mastCtrl.toggleNav()"></div>
<img class="logo" src="data/img/serpro-logo.png">
<span class="title"></span>
<div id="mast-right">

    <nav>
        <div class="dropdown-parent">
            <a class="user-menu__name">{{user}} <i class="dropdown-icon"></i></a>

            <div class="dropdown">
                <a href="rs/logout">Logout</a>
            </div>
        </div>
    </nav>

</div>
