/*
 * Copyright 2014-present Open Networking Laboratory
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 ONOS GUI -- core -- CSS file
 */

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
}

/*
   overflow hidden is to ensure that the body does not expand to account
   for any flyout panes, that are positioned "off screen".
 */
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body.light {
    background-color: white;
}
body.dark {
    background-color: #2b2b2b;
}

#view {
    padding: 6px;
    width: 100%;
    height: 100%;
}

#view h2 {
    padding-left: 12px;
}

.light #view h2 {
    color: #800;
}
.dark #view h2 {
    color: #CE5650;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 24px 5px #888;
    background-color: #eee;
    margin: 0;
    padding: 10px;
}

#footer {
    height: 60px;
    background-color: blue;
}
